.main-layout {
  background-color: rgb(204, 247, 226);
  height: 100vh;
  display: grid;
  grid-template-rows: 7% 88% 5%;
}

.header{
  display: flex;
  align-items: center;
}

.main{
  display: grid;
  grid-template-columns: 20% 80%;
  overflow-y: auto;
}

#sider-title{
  text-align: center;
}

#left-sider{
  padding: 20px;
  overflow : scroll;
}

.main-content{
  border: 2px solid rgb(44, 179, 105);
  display: grid;
  grid-template-rows: 10% 90%;
  height: 100vh;
}

#filter-bar{
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  height: 50px;
  padding-left: 10px;
}

.dropdown{
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-table{
  background-color: white;
  height: auto;
}

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
}