<div class="main-layout">
  <div class="header">
    <div class="header-content">
        <div class="logo">
          <img id="logo-img" src="../../../../assets/images/logo.png"/>
        </div>

      <div class="search" nz-col nzSpan="6" nzAlign="center" nzJustify="center">
        <nz-input-group  nzSearch [nzAddOnAfter]="suffixIconButton">
          <input class="search-bar"  type="text" nz-input placeholder="search item" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch class="search-btn"><mat-icon>search</mat-icon></button>
        </ng-template>
      </div>

      <div class="btn-container">
        <button class="header-buttons" mat-fab matTooltip="Wishlist" color="accent" aria-label="Fab button with a heart icon">
          <mat-icon class="btn-icon">favorite</mat-icon>
        </button>
        <button class="header-buttons" mat-fab matTooltip="Cart" color="accent" aria-label="Example fab with a heart icon">
          <mat-icon class="btn-icon">shopping_cart</mat-icon>
        </button>
        <button class="header-buttons" mat-fab matTooltip="Account" color="accent" aria-label="Example fab with a heart icon">
          <mat-icon class="btn-icon">account_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="main">
    <div id="left-sider"> 
      <h1 id="sider-title">Catalog</h1>
      <ul nz-menu nzMode="inline">
        <li nz-submenu nzTitle="Navigation One" nzIcon="mail" nzOpen>
          <ul>
            <li nz-menu-group nzTitle="Item 1">
              <ul>
                <li nz-menu-item nzSelected>Option 1</li>
                <li nz-menu-item>Option 2</li>
              </ul>
            </li>
            <li nz-menu-group nzTitle="Item 2">
              <ul>
                <li nz-menu-item>Option 3</li>
                <li nz-menu-item>Option 4</li>
              </ul>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore">
          <ul>
            <li nz-menu-item>Option 5</li>
            <li nz-menu-item>Option 6</li>
            <li nz-submenu nzTitle="Submenu">
              <ul>
                <li nz-menu-item>Option 7</li>
                <li nz-menu-item>Option 8</li>
                <li nz-submenu nzTitle="Submenu">
                  <ul>
                    <li nz-menu-item>Option 9</li>
                    <li nz-menu-item>Option 10</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Navigation Three" nzIcon="setting">
          <ul>
            <li nz-menu-item>Option 11</li>
            <li nz-menu-item>Option 12</li>
            <li nz-menu-item>Option 13</li>
          </ul>
        </li>
      </ul>
    </div>

    <nz-content> main content </nz-content>
  </div>

  <nz-footer> footer </nz-footer>
</div>
