<div class="main-layout">
    <div class="header">
      <app-header-component></app-header-component>
    </div>
  
    <div class="main">
      <div id="left-sider">
        <h1 id="sider-title">Catalog</h1>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item (click)="allProducts()">Toate produsele</li>
          <ng-container *ngFor="let item of parentList">
            <li nz-submenu *ngIf="item.categoryParent!=='Margele'  && item.categoryParent !== 'Accesorii'" nzTitle={{item.categoryParent}}>
              <ul>
                <ng-container *ngIf="item.categoryParent !== 'Margele' && item.categoryParent !== 'Accesorii'">
                  <li nz-menu-item *ngFor="let cat of categoryList[item.categoryParent]" (click)="selectCategory(cat.categoryName)"
                  [style.display]="cat.categoryName !== 'Margele'  && cat.categoryName !== 'Accesorii' ? 'list-item' : 'none'">
                    {{cat.categoryName}}
                  </li>
                </ng-container>
                <ng-container *ngIf="item.categoryParent === 'Materiale'">
                  <li nz-submenu nzTitle="Margele">
                    <ul>
                      <li nz-menu-item *ngFor="let cat of categoryList['Margele']" (click)="selectCategory(cat.categoryName)">
                        {{cat.categoryName}}
                      </li>
                    </ul>
                  </li>
                  <li nz-submenu nzTitle="Accesorii">
                    <ul>
                      <li nz-menu-item *ngFor="let cat of categoryList['Accesorii']" (click)="selectCategory(cat.categoryName)">
                        {{cat.categoryName}}
                      </li>
                    </ul>
                  </li>
                </ng-container>
              </ul>
            </li>
  
          </ng-container>
          
          <li nz-menu-item (click)="goToTutorials()">Tutoriale</li>
        </ul>
      </div>
  
      <div class="main-content">
        <div id="filter-bar">
          <label>Sortare</label>
          <a class="dropdown" nz-dropdown [nzDropdownMenu]="menu">
            Implicit
            <span class="material-icons">arrow_drop_down</span>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>Nume (A>Z)</li>
              <li nz-menu-item>Nume (Z>A)</li>
              <li nz-menu-item>Pret crescator</li>
              <li nz-menu-item>Pret descrescator</li>
            </ul>
          </nz-dropdown-menu>
  
          <label>Filtrare</label>
          <a class="dropdown" nz-dropdown [nzDropdownMenu]="menuPret">
            Pret
            <span class="material-icons">arrow_drop_down</span>
          </a>
          <nz-dropdown-menu #menuPret="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>0-20 lei</li>
              <li nz-menu-item>20-50 lei</li>
              <li nz-menu-item>50-100 lei</li>
              <li nz-menu-item>100+ lei</li>
            </ul>
          </nz-dropdown-menu>
  
          
        </div>
  
        <div id="content-table">
          <app-product class="product-item"></app-product>
        </div>
      </div>
    </div>
  </div>
  