.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 247, 226);
}

.login-form {
    width: 500px;
    height: 350px;
    background-color: white;
    padding: 20px;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

input{
    height: 50px;
}