<ng-container *ngIf="ProductList.length === 0; else dataTemplate">
    <ng-template #noDataMessage>
      <p>Nu există produse înregistrate.</p>
    </ng-template>
    <ng-container *ngTemplateOutlet="noDataMessage"></ng-container>
  </ng-container>
  
  <ng-template #dataTemplate>
    <ng-container *ngFor="let item of ProductList">
      <div class="product-card">
        <div class="prod-img">
          <img (click)="selectProduct(item.productId)"
          [src]="item.imagePath"
          />
        </div>
        <div class="prod-name" (click)="selectProduct(item.productId)">
          {{ item.name }}
        </div>
        <div class="prod-price">{{ item.price }} lei</div>
        <div class="btn-container">
          <div id="move-to-cart-btn">
            <button mat-raised-button color="primary" id="cart-btn" (click)="moveToCart(item.productId)">Muta in cos</button>
          </div>
          <div id="remove-from-wishlist-btn">
            <button mat-icon-button color="primary" (click)="removeFormWishlist(item.productId)" ><mat-icon id="delete-icon">delete_forever</mat-icon></button>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
  
