<div class="main">
    <div class="header">
        <app-header-component></app-header-component>
    </div>
    <div class="content">
        <div id="product-name">
            <h1>{{product.name}}</h1>
        </div>

        <div id="product-details">
            <div id="product-img">
                <img
            src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"
          />
            </div>

            <div id="product-delivery">

            </div>

            <div id="price-and-btn-container">
                <div>
                    <p>{{product.price}} lei</p>
                </div>
            </div>
        </div>

        <div class="product-description">
            <nz-collapse>
                <nz-collapse-panel
                  nzHeader="Descriere"
                  nzActive="true"
                  nzDisabled="false"
                >
                  <p style="margin:0;">
                    {{product.description}}
                  </p>
                </nz-collapse-panel>
              </nz-collapse>
        </div>
    </div>
</div>
