.entire-page{
    height: 100vh;
    background-color: rgb(204, 247, 226);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: white;
    height: 400px;
    width: 530px;
    padding: 50px 0px 0px 10px;
}
