<div class="header">
    <div class="header-content">
      <div class="logo">
        <img id="logo-img" src="../../../../assets/images/logo.png" />
      </div>

      <div class="search" nz-col nzSpan="6" nzAlign="center" nzJustify="center">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input
            class="search-bar"
            type="text"
            nz-input
            placeholder="search item"
          />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch class="search-btn">
            <mat-icon>search</mat-icon>
          </button>
        </ng-template>
      </div>

      <div class="btn-container">
        <button
          class="header-buttons"
          mat-raised-button
          matTooltip="Wishlist"
          color="accent"
        >
        <span class="btn-content">
          <mat-icon class="btn-icon">favorite</mat-icon>
          <span>Favorite</span>
        </span>
        </button>
        <button
          class="header-buttons"
          mat-raised-button
          matTooltip="Cart"
          color="accent"
        >
        <span class="btn-content">
          <mat-icon class="btn-icon">shopping_cart</mat-icon>
          <span>Cosul meu</span>
        </span>
        </button>
        <button
          class="header-buttons"
          mat-raised-button
          matTooltip="Account"
          color="accent"
        >
        <span class="btn-content">
          <mat-icon class="btn-icon">account_circle</mat-icon>
          Profil
        </span>
        </button>
        <button class="header-buttons" mat-raised-button matTooltip="About" color="accent">
          <span class="btn-content">
          <mat-icon class="btn-icon">info_outline</mat-icon>
          Despre
        </span>
        </button>
      </div>
    </div>
  </div>
