.entire-page {
    background-color: rgb(204, 247, 226);
    height: 100vh;
    display: grid;
    grid-template-rows: 7% 10% 83%;
}

.header{
    display: flex;
    align-items: center;
}

#my-cart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    padding-top: 2rem;
    padding-left: 4rem;
    font-family: Georgia, serif;
    font-weight: bold;
}