<ng-container *ngIf="ProductList.length === 0; else dataTemplate">
   <ng-template #noDataMessage>
     <p>Nu există produse adaugate in cos.</p>
   </ng-template>
   <ng-container *ngTemplateOutlet="noDataMessage"></ng-container>
 </ng-container>
 <ng-template #dataTemplate>
<div class="card" *ngFor="let item of ProductList">
 <div class="img">
    <img
    (click)="selectProduct(item.productId)" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
 </div>
 <div class="details">
    <div class="product-name" (click)="selectProduct(item.productId)">{{item.name}}</div>
    <div class="product-desc" (click)="selectProduct(item.productId)">{{item.description}}</div>
    <!-- <div class="product-materials">{{item.mat}}</div> -->
 </div>
 <div class="price">
    {{item.price}} lei
 </div>
 <div class="delete">
    <button (click)="removeFromCart(item.productId)"><mat-icon>delete</mat-icon></button>
 </div>
</div>
</ng-template>
 
